/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.child {
  // display: flex;
  padding: 1rem;
  flex: 0 1 25%;
}

img {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  display: block;
  margin: auto;
  width: 13em;
  border-radius: 25px;
}

button:hover {
  color: dimgray;
}
